body {
    background-color: rgb(202, 133, 191);
    margin: 0 auto;
}

.conteneur {
    background-color: #fff;
    border-radius: 10px;
    padding: px;
    margin: 0 auto;
    text-align: center;
}

.histoire {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(231, 228, 29);
    text-align: center;
    border-radius: 10px;
}

span {
    color: yellow;
}