body {
    background-color: rgb(202, 133, 191);
}

.conteneur {
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

.titre {
    width: 70%;
    margin: 0 auto;
    background-color: powderblue;
    text-align: center;
    border-radius: 10px;
}

.exo {
    background-color: rgb(226, 197, 30);
    border-radius: 10px;
    padding: 5px;
}

span {
    color: rgb(231, 200, 25);
}

hr {
    color: rgb(226, 196, 23);
}

ul {
    text-align: left;
}

.resultat {
    color: goldenrod;
}
