/* styles pour l'intro au JS */

body {
    background-color: rgb(203, 226, 247);
    /* background: repeating-linear-gradient(90deg, #50afee, #83c0f1 20px, #d2e0e9 0, #d2e6e9 40px); */
}

.stabilo {
    background-color: rgb(250, 250, 62);
}

.container {
    background-color: #fff;
}

code {
    background-color: #fff;
    color: red;
    padding: 5px;
}

h2 {
    border-bottom: 1px solid rgb(110, 110, 110);
    text-align: center;
}

em {
    background-color: rgb(199, 243, 243);
}

 /* tous les p pair even pair /// odd impair*/
.exemples p:nth-child(even), td p:nth-child(even) {
    background-color: rgb(109, 198, 233);
}
